@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);

  /* cores personalizadas */
  --color-brand-paper: #f9f9f7;
  --color-brand-ink: #24292f;
  --color-brand-indigo: #6366f1;
}

/* config globais do HTML */
html {
  scroll-behavior: smooth;
}

body {
  /* background "paper" e a cor de texto por padrão */
  background-color: var(--color-brand-paper);
  color: var(--color-brand-ink);
  font-family: var(--font-sans);
}
